@{
    ViewData["Title"] = "Order Complete";
}
<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h3>Orders Complete Successfully !</h3>
        <p>You can check all your orders in the Orders section of your profile</p>
        <hr />
        <p>Thank you!</p>
        <hr />
        <a asp-action="Index" asp-controller="Products" class="btn btn-outline-warning">
            Go to Products
            <i class="fas fa-regular fa-refresh"></i>
        </a>
    </div>
</div>