<!DOCTYPE html>
<html>
    <head>
        <title>W3.CSS</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta content="text/html; charset=iso-8859-2" http-equiv="Content-Type">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

        <style>
        .mySlides {display:none;}
        #hr{
            border: 2px solid white ;
                     
        }
        #infm{
           padding:50px;

        }

        #infm1 {            
            height: 100%;
            background-image: linear-gradient(to right,#bf392e,#8d44ad);
            
        }

        #infm2 {
            padding-bottom: 50px;
        }

        #atc{
            background:white;
            
            border-radius:20px;
        }

        #atc1 {
            background: #8d44ad;
            border-radius: 10px;
            color:white;
            
        }

        
        </style>
    </head>

<body>
    <div class="w3-content w3-section" style="max-width:1200px;">
        <img class="mySlides" src="~/Img/gaming.jpg" style="width:100%">
        <img class="mySlides" src="~/Img/gaming1.jpg" style="width:100%">        
    </div>

    <hr id="hr"/>
    
    <div id="infm" class="container">
        <div class="row">            
            <div class="col">
                <h1 style="color:#743ad5">BUILDING YOUR CASE</h1>
                <p style="font-size: 150%;">Upgrade your gaming setup with our high-quality gaming cases, now on sale! Choose from a wide selection of sizes, styles, and designs to fit your needs and budget. All of our cases come with pre-installed fans for optimal cooling and are easy to build in. Shop now and take your gaming experience to the next level!</p>
                <br />
                <a style="font-size:100%;" class="btn" id="atc1" asp-controller="Products" asp-action="Index">
                    See More Devices !
                </a>
            </div>
            <div class="col">
                <img src="~/Img/gaming2.jpg" style="width:auto; height:400px; border-radius: 20px" />
            </div>
        </div>
    </div>

    

    <div id="infm1" class="container">
        <div class="row">   
            
            <div class="col" style="color:white ;padding:30px;">
                <h1>GAMING CASE</h1>
            <p style="font-size: 100%;">Our selection of gaming cases includes options in various sizes, styles, and designs. Choose from compact mini-ITX cases that are perfect for small form factor builds, mid-tower cases that provide plenty of space for your components, or full-tower cases that offer maximum flexibility and expandability.</p>    
            </div>

            <div class="col">
                <img src="~/Img/case1.png" style="width:400px; height:300px;padding:30px;" />
            </div>

            <div class="col" style="color:white; padding:30px;">
                <h1>GAMING CASE</h1>
            <p style="font-size: 100%;">Our selection of gaming cases includes options in various sizes, styles, and designs. Choose from compact mini-ITX cases that are perfect for small form factor builds, mid-tower cases that provide plenty of space for your components, or full-tower cases that offer maximum flexibility and expandability.</p>    
            </div>
            
        </div>
    </div>
    
    <hr id="hr" />
    

    <div id="infm2" class="container">

        <h1 style="color:#743ad5">OUR DEVICE</h1>
        <br />
        <div class="row">            
            <div class="col">
                <img src="~/Img/case2.jpg" style="width:400px; height:300px; border-radius: 10px" />
            </div>
            <div class="col">
                <img src="~/Img/case2.jpg" style="width:400px; height:300px; border-radius: 10px" />
            </div>
            <div class="w-100" style="padding:20px;"></div>
            
            <div class="col">
                <img src="~/Img/case2.jpg" style="width:400px; height:300px; border-radius: 10px" />
            </div>
            <div class="col">
                <img src="~/Img/case2.jpg" style="width:400px; height:300px; border-radius: 10px" />
            </div>

        </div>
    </div>

    <hr id="hr" />

    <div id="infm1" class="container">
        <div class="row" style="padding:30px;">

            <div class="col">
                <img src="~/Img/gaming3.jpg" style="width:auto; height:350px;" />
            </div>

            <div class="col" style="color:white;">
                <h1>STUDY CASE</h1>
            <p style="font-size: 120%;">Our selection includes high-quality cases with features designed to help you stay organized and focused, such as built-in storage compartments and ergonomic designs. Get unbeatable value for your money and take your studying experience to the next level. Shop now and save!</p>
                <a class="btn" id="atc" asp-controller="Products" asp-action="Index">
                    SHOP NOW !
                </a>
        </div>
            
        </div>
    </div>
    <br />
     <hr />

    

</body>
</html>

<script>
    var myIndex = 0;
    carousel();

    function carousel() {
        var i;
        var x = document.getElementsByClassName("mySlides");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        myIndex++;
        if (myIndex > x.length) { myIndex = 1 }
        x[myIndex - 1].style.display = "block";
        setTimeout(carousel, 5000); // Change image every 2 seconds
    }
</script>