@{
    ViewData["Title"] = "Register Complete";
}
<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h3>Register Complete Successfully !</h3>
        <hr />
        <a asp-action="Login" asp-controller="Account" class="btn btn-outline-info">
            Back To Login
            <i class="fas fa-regular fa-refresh"></i>
        </a>
    </div>
</div>