@using Microsoft.AspNetCore.Identity

@inject UserManager<ApplicationUser> _userManager;

<style>
     #profile-btn {
        color: white;
        font-size:15px;
        border-radius:30px;
        background-color: none;
        
    }

         #profile-btn:hover {
            border-style: solid;
            border-color: white;
    }
    
    #log{
        color:white;
        transition:0.3s;
    }
    #log:hover{
        border-radius:40px;
        border: 1px solid white;  
    }
    #res{
        color: white;
        transition: 0.3s;
    }
    #res:hover{
        border-radius: 40px;
        border: 1px solid white;
    }
    

</style>

@if (!User.Identity.IsAuthenticated)
{
    <a class="btn  mr-2" id="log" asp-action="Login" asp-controller="Account">
        <i class="fas fa-regular fa-arrow-right-to-bracket"></i> Login
    </a>
    <a class="btn  mr-2"  id="res" asp-action="Register" asp-controller="Account">
        <i class="fas fa-regular fa-user-check"></i> Register
    </a>
}
else
{
    <div class="dropdown">
        <button class="btn dropdown-toggle" type="button" id="profile-btn" data-toggle="dropdown" aria-expanded="false">
            <i class="fa-sharp fa-solid fa-user mr-1"></i> @_userManager.GetUserName(User)
        </button>
        <div class="dropdown-menu" aria-labelledby="profile-btn">
            <a class="dropdown-item" asp-controller="Orders" asp-action="Index">
                <i class="fas fa-regular fa-list-check mr-2"></i> Orders
            </a>
            @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
            {
                <a class="dropdown-item" asp-controller="Account" asp-action="Users">
                    <i class="fas fa-regular fa-users mr-2"></i> Users
                </a>
            }
            <form asp-controller="Account" asp-action="Logout">
                <hr />
                <button class="dropdown-item">
                    <i class="fas fa-duotone fa-arrow-right-from-bracket"></i>
                    Logout
                </button>
            </form>
        </div>
    </div>
}