<!DOCTYPE html>

<style>
    #layout{
        background-image: linear-gradient(to right,#bf392e,#8d44ad);
    }

    #srcbx{
        
        border-radius: 30px;
        border: 1px solid white;
        height:40px;
        width:700px;
        padding:20px;
    }

       


</style>


<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NaGear.vn</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    
    <link rel="stylesheet" href="/js/jQuery/Chosen/chosen.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm  navbar-light border-bottom box-shadow mb-3" id="layout")">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Products" asp-action="Index">
                    <img src="~/Img/Nagear White.png" height="45px" width="150px" />
                    
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">                                        
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item"  id="prd1">
                            <a class="nav-link" style="color:white;" asp-area="" asp-controller="Products" asp-action="Index">PRODUCTS</a>
                        </li>
                        
                        <li class="nav-item dropdown dropdown-hover">
                                <a class="nav-link dropdown-toggle text-white" style="font-size:15px;" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="bi bi-gear" style="color:white;"></i> MANAGERMENT
                            </a>
                                <div class="dropdown-menu" style="font-size:15px;" aria-labelledby="navbarDropdown">
                                @if (Context.User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                                {
                                <a class="nav-link text-dark" asp-area="" asp-controller="Categories" asp-action="Index">CATEGORY</a>
                                }
                                <a class="nav-link text-dark" asp-area="" asp-controller="Orders" asp-action="Index">ORDER</a>
                                
                            </div>
                        </li>                                                
                          
                    </ul>  

                    <form class="form-inline"  style="" asp-action="Index" asp-controller="Products">
                        <button type="submit" class="btn" style="color:white; font-size:25px;">
                            <i class="fas fa-search"></i>
                        </button>
                        
                        <input type="text" placeholder="Searching Some Devices" id="srcbx" name="searchTerm" list="type" autocomplete="off">
                        <datalist id="type">                            
                            <option value="VGA">VGA</option>
                            <option value="HDD">HDD</option>
                            <option value="SDD">SDD</option>
                            <option value="RAM">RAM</option>
                            <option value="CPU">CPU</option>
                            <option value="MAIN">MAIN</option>
                        </datalist> 
                    </form>

                    <ul class="navbar-nav mr-2" >
                        @await Component.InvokeAsync("ShoppingCartSummary")
                    </ul>
                    <partial name="_Identity"/>                    
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted">
        <div class="container">
            @*<i><img src="~/Img/Nagear yellow.png" height="31px" width="100px" /></i>*@
            &copy; 2023 - NAGEAR.VN by Nadilac - <a asp-area="" asp-controller="Home" asp-action="Privacy">About Project</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/jQuery/Chosen/chosen.jquery.js "></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>


