@{
    ViewData["Title"] = "Not Found";
}
<div class="row">
    <div class="col-md-8 offset-2">
        <img src="https://deshinon.com/wp-content/uploads/2019/03/0did5-hj4tf.gif" style="width:90%;height:500px;" />
    </div>

    <div class="col-md-4 offset-4">
    <h1>Look Like You're Lost</h1>
    <p>The page you are looking not avaible!</p>
</div>

    <div class="col-md-4 offset-5">
        <a class="btn btn-outline-danger" asp-action="Index" asp-controller="Products">
            <i class="fas fa-regular fa-arrow-rotate-right"></i>
            Go Back Home Page
        </a>
    </div>
</div>
