@using WebEcommerce.Data.Enums;
@model Product
@{
    ViewData["Title"] = "Create New Product";
    var Category = new SelectList(ViewBag.CategoryId, "Id", "Name");
}

<body>

<div class="row">
    <div class="col-md-8 offset-2">            
            <div align="center">
                <h2 style="color:#a73e6b;font-size:200%">NEW PRODUCT</h2>
            </div>            
    </div>

    <div class="col-md-8 offset-2">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Name" class="control-lable">Name of Product</label>
                <input asp-for="Name" class="form-control" autocomplete="off">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-lable">Product Description</label>
                <textarea asp-for="Description" class="form-control" rows="2"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Price" class="control-lable">Product Price (.00$)</label>
                <input asp-for="Price" class="form-control" autocomplete="off">
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ImageURL" class="control-lable">URL Image</label>
                <input asp-for="ImageURL" class="form-control" autocomplete="off">
                <span asp-validation-for="ImageURL" class="text-danger"></span>
            </div>

            <div class="col-md-4 offset-4 text-conter">
                <img style="width:100%" id="imagePreview" />
            </div>

            <div class="form-group">
                <label asp-for="ProductType" class="control-lable">Manufacture</label>
                <select asp-for="ProductType" asp-items="@Html.GetEnumSelectList<ProductType>()" class="form-control" autocomplete="off"></select>
                <span asp-validation-for="ProductType" class="text-danger"></span>
            </div>

            <div class="form-group">
                Category Type
                <select asp-for="CategoryId" asp-items="@Category" class="form-control" ></select>
                <span class="text-danger"></span>
            </div>

            <div class="form-group">
                    <label asp-for="Specifications" class="control-lable">Specifications Detail</label>
                <textarea asp-for="Specifications" class="form-control" rows="2"></textarea>
                <span asp-validation-for="Specifications" class="text-danger"></span>
            </div>
            <div class="form-group">
                    <label asp-for="Introduce" class="control-lable">Introduce</label>
                <textarea asp-for="Introduce" class="form-control" rows="2"></textarea>
                <span asp-validation-for="Introduce" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-outline-success float-right" />
                <a asp-action="Index" class="btn btn-outline-secondary">Show All Category</a>
            </div>
        </form>
    </div>
</div>
<br />
    <br />
</body>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    @*Image View When Adding URL*@
    <script>
        $("#ImageURL").on("change", function(){
            var Result = document.getElementById("imagePreview");
            Result.src = $(this).val();
        })
    </script>
}